
h1 {
background-color: #222327;
color: #fff;
font-family: 'Rubik Mono One', sans-serif;
font-size: 60px;
text-align: center;
text-shadow: 10px 10px 30px #2400ff, -10px -10px 30px #7e2bd9;
-webkit-text-stroke: 2px #7e2bd9;
-webkit-text-fill-color: transparent;
}

body {
    background-color: lightgray;

}

